@page "/"
@inject FluToDo.Services.ITodoService TodoService
  

<ul class="todo-items">
      <!-- dummy item -->
      <!-- <li class="item" data-key="1594003133171">
        <input class="checkbox" type="checkbox">
        Go to Gym
        <button class="delete-button">X</button>
      </li> -->
 </ul>



@code{
    private List<TodoItem> Todos = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
        Todos = await TodoService.GetTodoItems();
    }
}