@page "/"
@inject FluToDo.Services.ITodoService TodoService


<ul class="todo-items">
    @foreach (var todo in Todos)
    {
        <li class="row">
            <MatCheckbox @bind-Value="@todo.IsComplete" Class="col-2"></MatCheckbox>
            @*<input type="checkbox" checked="@todo.IsComplete">*@
            <label class="col-6">@todo.Name</label>
            <button class="edit col-2">Edit</button>
            <button class="delete col-2">Delete</button>
        </li>
        <MatDivider></MatDivider>
    }
</ul>



@code{
    private List<TodoItem> Todos = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
        Todos = await TodoService.GetTodoItems();
    }
}